

<div class="comment-container">

  <div class="comment-title">
      <%= comment.user.name %>

      <div class="comment-timestamp">
          <%= format_standard_datetime comment.updated_at %>
      </div>

  </div>

  <div class="comment-body">
    <%= comment.body.html_safe %>
  </div>

  <% if user %>
    <div class="comment-editor child-comment-editor">
     
    </div>
  <% end %>




</div>
