
<h1>All Calls</h1>



  <div class="table-responsive">
    <table id="table"
                data-toggle="table"
                data-url="/calls/data"
                data-height="400"
                data-side-pagination="server"
                data-pagination="true"
		              data-sort-order="desc"
		                data-show-export="true"
                data-page-list="[10, 25, 100, 500,2000]"
                data-search="false">
             <thead>
             <tr>
                 <th data-field="id" data-sortable="true"  >ID</th>
                 <th data-field="customer" data-formatter="customerNameFormatter" data-sortable="true">Caller</th>
                 <th data-field="company"   data-sortable="true">Company</th>
                 <th data-field="responder" data-sortable="true">Responder</th>
                 <th data-field="category" data-sortable="true">Topic</th>
                 <th data-field="timeago" data-formatter="timeFormatter" data-sortable="true">Time</th>
             </tr>
             </thead>
         </table>
</div>


<a href="/calls/new">
<button type="button" class="btn btn-primary-color savecall-button col-md-5 col-md-offset-3 ">
	Add a new call
</button>
</a>


<script>
    var $table = $('#table');

    function customerNameFormatter(value,row)
    {

      return '<a href="/calls/'  + row.id + '">'+ value+'</a>'
    }

    function timeFormatter(value,row)
    {

      return $.timeago(value);
    }

    $(function () {
    });
</script>
