<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-bi_vendors"><%= link_to "Bi vendors", casein_bi_vendors_path %></li>
<li id="tab-bi_customers"><%= link_to "Bi customers", casein_bi_customers_path %></li>
<li id="tab-bi_orders"><%= link_to "Bi orders", casein_bi_orders_path %></li>
<li id="tab-users"><%= link_to "Users", casein_users_path %></li>