
    <div class="row">
        <div class="col-xs-8">
            <h1 class="page-header">

              Demo Inventory Overview


            </h1>


        </div>
          <div class="col-xs-4">
            <a href="<%= url_for :controller => 'checkouts', :action => 'new' %>">
              <button type="button" class="btn btn-primary-color overview-new-call-btn"><i class="fa fa-plus-circle"></i> New Checkout </button>
            </a>

          </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
