
            <div class="row">
                <div class="col-xs-8">
                    <h1 class="page-header">

                      Projects Overview


                    </h1>


                </div>
                  <div class="col-xs-4">
                    <a href="<%= url_for :controller => 'projects', :action => 'new' %>">
                      <button type="button" class="btn btn-primary-color overview-new-call-btn"><i class="fa fa-plus-circle"></i> New Project</button>
                    </a>

                  </div>
                <!-- /.col-lg-12 -->
            </div>

            Will look like excel  template

            users have color bubbles
