<h3>You have no favorite companies to display on your personal dashboard</h3>

<p>
You can add companies to your favories in the search results or in the company overview pages.  Then all of the information about those companies will be compiled and displayed on this page.
</p>
