<h3><%=@vendor.name%> </h3>


<ul class="nav nav-tabs nav-tabs-dark">
  <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
  <li><a data-toggle="tab" href="#customers">Top Customers</a></li>
  <li><a data-toggle="tab" href="#products">Top Products</a></li>
</ul>

<div class="tab-content tab-content-padded">
  <div id="overview" class="tab-pane fade in active">

    <p>Some content.</p>
  </div>
  <div id="customers" class="tab-pane fade">
    <%   @sales_metrics.each do |metric| %>
    <p>
      <%= metric.company_name %>  -  $<%= metric.value_formatted %>
      <p/>
    <% end %>

  </div>
  <div id="products" class="tab-pane fade">

    <p>Some content in menu 2.</p>
  </div>
</div>
