

<div class="btn-group toggle-tags-buttons" data-toggle="buttons">
 
  <% types.each do |type| %>
  <label class="btn category-tag-btn"  data-category-name="<%= type %>">
      <%= type %>
  </label>

  <% end %>
</div>
