$primary-color: gray;

$edit-color: #f0ad4e;

$primary-color: gray;
$mcmc_white: #eee;

$mcmc_red_primary: #e74c3c;
$mcmc_red_secondary: #c0392b;

$mcmc_gray_primary: #ecf0f1;
$mcmc_gray_secondary: #bdc3c7;

$flat_ui_red: #e74c3c;
$flat_ui_green: #2ecc71;
$flat_ui_orange: #e67e22;


.color-flat-green
{
 color:$flat_ui_green;
}

.color-flat-orange
{
 color:$flat_ui_orange;
}
