// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-container
{

  margin:10px;

  padding:5px;

  .comment-title
  {
    padding:5px;
    font-weight: bold;
  }

  .comment-timestamp
  {
    float:right;
   
  }

  .comment-body
  {

        padding:15px;
        background-color: $mcmc_gray_primary;
  }

}
