// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.calls-chart
{
  display: inline-block;
//  min-height:500px;
  width:100%;


  .calls-overview-chart-container
  {
    width:100%;
    display:block;


  }


}

.overview-new-call-btn
{
  float:right;
  margin-top:60px;
}
